.navicon {
    color: #1E4E82;
}

div.itemtext {
    cursor: pointer;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
    div.itemtext-complete {
        text-decoration: line-through;
    }

    div.itemtext-incomplete {
        text-decoration: none;
    }

div.item-handle {
    cursor: move;
    color: #555555;
    font-size:16px;
}

div.checkmark {
    cursor: pointer;
    display: inline-block;
    font-size:16px;
}
    div.checkmark-complete {
        color: #00C415;
    }

    div.checkmark-incomplete {
        color: #555555;
    }

li.complete {
    background: rgba(239, 239, 239, .6);
}

li.incomplete {
    background: #ffffff;
}

div.color-selector-color {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    opacity: .7;
    border: 1px solid #333333;
    cursor: pointer;
}

div.header-icon {
    font-size: 26pt;
    font-weight: bold;
    border: 0px solid black;
    padding-right:10px;
}

div.header-text {
    font-size: 18pt;
    font-weight: bold;
    vertical-align: middle;
    border: 0px solid black;
}

div.header {
    margin-top: 15px;
    margin-bottom: 8px;
}

div.flex-main-parent {
    display: flex;
    align-items: top;
}

div.flex-left {
    display: flex;
    width: 80px;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 15px;
}

div.flex-center {
    margin-right: 15px;
    padding-top: 2px;
}

div.flex-right {
    margin-left: auto;
}
